@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1682574982010') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlei:before {
  content: "\f00d6";
}

.icon-bianji:before {
  content: "\f0213";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-icon_attachment:before {
  content: "\e618";
}

.icon-biaoqian:before {
  content: "\e63d";
}

.icon-shezhi-xianxing:before {
  content: "\e8b7";
}

.icon-tubiao-bingtu:before {
  content: "\e68e";
}

.icon-rizhi:before {
  content: "\e69d";
}

.icon-VRAR:before {
  content: "\e601";
}

.icon-open:before {
  content: "\e6ee";
}

.icon-denglu:before {
  content: "\e653";
}

.icon-tubiaozhizuomobanyihuifu-:before {
  content: "\e69c";
}

.icon-table:before {
  content: "\e7de";
}

.icon-chaolianjie:before {
  content: "\e6e2";
}

.icon-tubiao:before {
  content: "\e632";
}

.icon-daoru:before {
  content: "\e616";
}

.icon-daochu:before {
  content: "\e617";
}

.icon-zhanghaoanquan:before {
  content: "\e695";
}

.icon-jiaoseguanli:before {
  content: "\e70f";
}

.icon-zhuxiaodenglu:before {
  content: "\e654";
}

.icon-gerenshezhi:before {
  content: "\e633";
}

.icon-xuexiao_jiaoshi:before {
  content: "\e65f";
}

.icon-xinyiyongcailiao:before {
  content: "\e62c";
}

.icon-tianjia:before {
  content: "\e62d";
}

.icon-taolun:before {
  content: "\e61e";
}

.icon-yichu:before {
  content: "\e615";
}

.icon-paixu:before {
  content: "\e624";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-zhanghao:before {
  content: "\e634";
}

.icon-search:before {
  content: "\e67c";
}

.icon-xiazai:before {
  content: "\e60e";
}

.icon-queren:before {
  content: "\e66e";
}

.icon-peixunbanji-:before {
  content: "\e630";
}

.icon-renyuanguanli:before {
  content: "\e62e";
}

.icon-_xuesheng:before {
  content: "\e659";
}

.icon-teaching:before {
  content: "\e610";
}

.icon-jiaoxuekejian:before {
  content: "\e696";
}

.icon-jichushezhi:before {
  content: "\e612";
}

.icon-yingyongguanliyuanguanli:before {
  content: "\e6a9";
}

.icon-huifu:before {
  content: "\e652";
}

.icon-chengjidan:before {
  content: "\e66f";
}

.icon-a-wenjianjiawenjian:before {
  content: "\e727";
}

.icon-wentikujilu:before {
  content: "\e6d8";
}

.icon-lilungongshijisuan:before {
  content: "\e6a1";
}

.icon-zhedie-zhankai:before {
  content: "\e717";
}

.icon-zhedie-shouqi:before {
  content: "\e718";
}

